:root {
  --color-skyblue: #16d3e4;
  --color-beige: #ffff00;
  --color-black: #000;
  --color-white: #fff;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

.main-header {
  width: 100%;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.secondary-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3.75rem;
  width: 100%;
  box-sizing: border-box;
}

.page-logo {
  display: flex;
  align-items: center;
}

.page-logo a {
  padding: 0.625rem;
  font-family: "Oleo script", sans-serif;
  color: var(--color-beige);
  font-size: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000;
}
.page-logo a:hover {
  color: var(--color-skyblue);
}
header ul {
  display: flex;
}

header li {
  margin: 1.5rem;
}
header a {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.75rem;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  transition: all 0.5s ease-out;
}

header ul a {
  color: #000;
  background-color: var(--color-beige);
}

header ul a:hover {
  color: #000;
  background-color: var(--color-skyblue);
}

.btn {
  text-decoration: none;
  background-color: var(--color-beige);
  padding: 0.75rem 1.5rem;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 8px #434343;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn:hover {
  background-color: var(--color-skyblue);
}

footer {
  background: #72d8bf;
  padding: 0.625rem 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
}

footer a:hover {
  color: #fff;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

footer ul {
  margin-top: 0.3125rem;
  display: flex;
  justify-content: center;
}

footer li {
  width: 1.875rem;
  height: 1.875rem;
  margin: 0 1.875rem;
}

footer img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-out;
}

footer img:hover {
  transform: translateY(7px);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact-header {
  margin-top: 1.875rem;
  font-size: 1.25rem;
  font-family: helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.form {
  font-size: 1rem;
  font-weight: 600;
  max-width: 85rem;
  width: 60%;
  margin: auto;
  text-align: center;
}

.form input {
  width: 100%;
  height: 3.125rem;
  margin: 0.3125rem;
  padding: 0.3125rem;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 0.3125rem;
  color: var(--color-black);
  border: none;
  transition: all 0.5s ease-in;
}

.form input:focus {
  background-color: rgb(154, 252, 154);
  border-color: transparent;
  outline: none;
}

.form label {
  margin: 0.3125rem;
  padding: 0.3125rem;
  color: var(--color-black);
}

.input-container {
  width: 100%;
  margin: 0.3125rem;
  padding: 0.3125rem;
}

.contact-wrapper {
  display: flex;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  margin: 0.3125rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3125rem;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1rem;
  transition: all 0.5s ease-in;
}

textarea:focus {
  background-color: rgb(154, 252, 154);
  border-color: transparent;
  outline: none;
}

.textarea-container {
  margin: 0.3125rem;
  padding: 0.3125rem;
}

input[type="submit"] {
  width: 10rem;
  background-color: var(--color-beige);
  padding: 0.625rem;
  color: var(--color-black);
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 8px #434343;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: var(--color-skyblue);
}

@media (min-width: 120rem) {
  .main-nav {
    margin: 10px 5%;
  }
}

@media (max-width: 85rem) {
  .form {
    width: 70%;
  }
  .form input {
    height: 2.5rem;
    font-size: 0.8rem;
  }

  textarea {
    height: 9.375rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 48rem) {
  .page-logo {
    text-align: center;
  }
  .page-logo a {
    font-size: 2rem;
    text-align: center;
  }

  header ul a {
    font-size: 1rem;
    padding: 0.625rem;
  }
  .form {
    width: 80%;
  }

  .contact-wrapper {
    width: 100%;
    flex-direction: column;
  }

  .input-container {
    margin: 0.625rem auto;
    padding: 0;
  }

  textarea {
    margin: 0.3125rem;
    padding: 0.3125rem;
  }

  .textarea-container {
    margin: 0;
    padding: 0;
  }

  footer {
    padding: 1.25rem;
  }
}

@media (max-width: 25rem) {
  .page-logo a {
    font-size: 1.625rem;
    text-align: center;
  }

  footer li {
    margin: 0 0.625rem;
  }
}
